<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.zer0e.vanilla.infrastructure.db.mapper.RoleMapper">


    <select id="selectPermissionByRoleIds" resultType="java.lang.String">
        select t2.permission_name from t_role_permission t1, t_permission t2
        <where>
            <choose>
                <when test="roleIds != null and roleIds.size > 0">
                    t1.role_id in
                    <foreach collection="roleIds" item="roleId" separator="," open="(" close=")">
                        #{roleId}
                    </foreach>
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>

            AND t1.permission_id = t2.id
        </where>
    </select>
    <select id="selectRoleNameByIds" resultType="java.lang.String">
        select t.role_name from t_role t
        <where>
            <choose>
                <when test="ids != null and ids.size > 0">
                    t.id in
                    <foreach collection="ids" item="id" separator="," open="(" close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectRoleByIds" resultType="com.github.zer0e.vanilla.infrastructure.db.repository.RoleDo">
        select * from t_role
        <where>
            <choose>
                <when test="ids != null and ids.size > 0">
                    id in
                    <foreach collection="ids" item="id" separator="," open="(" close=")">
                        #{id}
                    </foreach>
                </when>
                <otherwise>
                    1 = 0
                </otherwise>
            </choose>
        </where>
    </select>

</mapper>