<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.zer0e.vanilla.infrastructure.db.mapper.UserRoleMapper">

    <select id="selectUserRolesByUserId" resultType="com.github.zer0e.vanilla.infrastructure.db.repository.UserRoleDo">
        select * from t_user_role r where r.user_id = #{userId}
    </select>
    <select id="selectUserRolesByClusterId"
            resultType="com.github.zer0e.vanilla.infrastructure.db.repository.UserRoleDo">
        select * from t_user_role t
        <where>
            t.cluster_id =
            <choose>
                <when test="clusterId != null">
                    #{clusterId}
                </when>
                <otherwise>
                    -1
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectHasPermissionStackIdsByUserId"
            resultType="java.lang.Integer">
        select t.stack_id from t_user_role t where
                    t.user_id = #{userId}
                    and t.stack_id is not null
    </select>
</mapper>